body {
	font-size: 16px;
	margin: 0px 0px 0px 0px;
}

.navbar {
	display: flex;
	flex-direction: row;
	position: fixed;
	top: 0;
	width: 100vw;
	margin: 0px 0px 0px 0px;
	background-color: #443a99;
	z-index: 1;
	/* height: 5.2em; */
}

.navbar .navbar-item {
	font-family: "Chakra Petch", sans-serif;
	font-weight: bolder;
	font-size: 1.4em;
	background-color: #443a99;
	margin: 1em 1.5em 1em 0px;
	padding: 0em 0em 0em 0em;
	justify-self: center;
	align-self: center;
	text-decoration: none;
	color: #37e680;
}

#menuToggle {
	cursor: pointer;
	align-self: center;
	margin-left: auto;
}

#menuToggle span {
	display: block;
	width: 33px;
	height: 4px;
	margin-bottom: 5px;
	position: relative;
	background: #c0bdbd;
	border-radius: 1px;
}

/* .navbar .navbar-burger {

}

.navbar .navbar-burger .navbar-item {

} */

.navbar #logo {
	display: block;
	width: 220px;
	padding: 0em 1.5em 0em 1.5em;
	justify-self: center;
	align-self: center;
}

.content {
	/* margin-top: 83.45px; */
	margin: 6em 0 0 20px;
}

.menu {
	display: flex;
	position: fixed;
	flex-direction: column;
	font-size: 1.4em;
	width: 5em;
	height: 10em;
	background-color: #443a99;
	border: 2px solid #443a99;
	margin-left: 98.58vw;
	margin-right: 0px;
	margin-top: -13px;
	justify-items: center;
	align-items: flex-start;
	box-shadow: -1px 1px 5px 3px #231e5075;
}

.menu-item {
	margin-left: 0.7em;
	font-family: "Chakra Petch", sans-serif;
	font-weight: bolder;
	color: #37e680;
	text-decoration: none;
}

.menu-transition-in {
	transform-origin: 0% 0%;
	transform: translate(-107.2%, 0);
	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.menu-transition-out {
	transform-origin: 0% 0%;
	transform: translate(0%, 0);
	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
