body {
	font-size: 16px;
	margin: 0px 0px 0px 0px;
}

.navbar {
	display: flex;
	flex-direction: row;
	position: fixed;
	top: 0;
	width: 100vw;
	margin: 0px 0px 0px 0px;
	background-color: #443a99;
	z-index: 1;
	/* height: 5.2em; */
}

.navbar .navbar-item {
	font-family: "Chakra Petch", sans-serif;
	font-weight: bolder;
	font-size: 1.4em;
	background-color: #443a99;
	margin: 1em 1.5em 1em 0px;
	padding: 0em 0em 0em 0em;
	justify-self: center;
	align-self: center;
	text-decoration: none;
	color: #37e680;
}

#hamburger-toggle {
	cursor: pointer;
	align-self: center;
	margin-left: auto;
	opacity: 0%;
	pointer-events: none;
}

#hamburger-toggle span {
	display: block;
	width: 33px;
	height: 4px;
	margin-bottom: 5px;
	position: relative;
	background: #37e680;
	border-radius: 5px;

	/* TODO lägg till animation som ändrar formen till ett X när man klickar på menyn. */
}

.navbar #logo {
	display: block;
	width: 220px;
	padding: 0em 1.5em 0em 1.5em;
	justify-self: center;
	align-self: center;
}

.content {
	/* margin-top: 83.45px; */
	margin: 6em 0 0 20px;
}

.hamburger-menu {
	display: flex;
	position: fixed;
	flex-direction: column;
	font-size: 1.4em;
	width: 5em;
	height: 10em;
	background-color: #443a99;
	border: 2px solid #443a99;
	margin-left: 98.58vw;
	margin-right: 0px;
	margin-top: -13px;
	justify-items: center;
	align-items: flex-start;
	box-shadow: -1px 1px 5px 3px #231e5075;
}

.hamburger-menu-item {
	margin-left: 0.7em;
	font-family: "Chakra Petch", sans-serif;
	font-weight: bolder;
	color: #37e680;
	text-decoration: none;
}

.menu-transition-in {
	transform-origin: 0% 0%;
	transform: translate(-107.2%, 0);
	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.menu-transition-out {
	transform-origin: 0% 0%;
	transform: translate(0%, 0);
	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

/* Gömmer det som ska som bara ska synas i desktopläge*/
.desktop {
	position: absolute;
	opacity: 0%;
	z-index: -3;
	pointer-events: none;
}

/* Visas på desktop */
@media (min-width: 590px) {
	.desktop {
		position: relative;
		opacity: 100%;
		z-index: 0;
		pointer-events: all;
	}
}

/* Visas på mobil */
@media (max-width: 589px) {
	#hamburger-toggle {
		opacity: 100%;
		pointer-events: all;
	}

	.navbar #logo {
		display: block;
		width: 220px;
		padding: 0em 0.5em 0em 0.5em;
		justify-self: center;
		align-self: center;
	}
}
